@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
.backdrop, .portfolio__list, .porfolio-filter, .footer-contacts__list, .customers, .social, .team, .products, .features, .header-social, .header-contacts, .site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.backdrop__contract-link, .portfolio__link, .social__link--dark, .footer-contacts__link, .footer__logo, .customers__link, .social__link, .header-social__link, .header-contacts__link, .site-nav__link, .logo--header {
  text-decoration: none;
}

.footer__logo, .logo--header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .footer__logo, .logo--header {
    font-size: 26px;
    line-height: 1.19;
  }
}

.backdrop__input-checkbox, .section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop__btn, .footer-mailing__btn, .hero__btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 200px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  color: #212121;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .container__page-header {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .container__page-header {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .logo--header {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .logo--header {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--header {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo__web {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .mobile-open-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
  }
  .mobile-open-btn:hover, .mobile-open-btn:focus {
    fill: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .mobile-open-btn {
    display: none;
  }
}

.mobile-menu__icon {
  stroke: transparent;
  background-color: transparent;
  border: none;
}

.nav {
  display: flex;
}
.site-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .site-nav {
    flex-direction: column;
    margin-bottom: 302px;
  }
}

.site-nav__item {
  position: relative;
}
@media screen and (max-width: 767px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    padding: 32px 0;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .site-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

.header-container {
  display: flex;
}

.site-nav__link--currentLink {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link--currentLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 4px solid #2196f3;
    border-radius: 2px;
  }
}

.header-contacts {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header-contacts {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    flex-direction: row;
    margin-left: 298px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts__item:first-child {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__item:first-child {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

.header-contacts__link {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  align-items: center;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .header-contacts__link {
    font-size: 28px;
    line-height: 1.17;
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    font-size: 34px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts__link {
    display: flex;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .envelope {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .smartphone {
    width: 10px;
    height: 16px;
  }
}

.header-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .header-social {
    display: none;
  }
}

.header-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}
.header-social__item:not(:first-child) {
  padding-left: 10px;
}

.header-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: #fff;
    transform: translateX(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    transform: translate(0);
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: flex;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    fill: black;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-close-btn:focus, .mobile-close-btn:hover {
    fill: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .mobile-close-btn {
    display: none;
  }
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(196, 196, 196);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-768.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: inear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-768@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-1600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img-1600@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__icon-wrap {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section--no-padding-top {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section__products {
    display: none;
  }
}

.products {
  display: flex;
}

.products__item {
  position: relative;
}

.products__item:not(last-child) {
  margin-right: 30px;
}

.products__image {
  width: auto;
}

.products__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section--other-background {
  background-color: #f5f4fa;
}

.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 320px) {
  .team__item {
    flex-basis: calc(100% - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(25% - 30px);
  }
}

.team__member-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
}

.team__social-item:not(last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.customers {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .customers__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .customers__item {
    margin: 15px;
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    margin: 15px;
    flex-basis: calc((100% - 180px) / 6);
  }
}

.customers__link {
  display: flex;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    flex-grow: unset;
  }
}

.footer__logo {
  display: block;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts__address {
    text-align: center;
  }
}

.logo__studio--white {
  color: white;
}

.footer-contacts__address {
  font-style: normal;
  margin-top: 20px;
}

.footer-contacts__item {
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .footer-contacts__item {
    margin-bottom: 9px;
  }
}

.footer-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

.footer-contacts__link--street {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-social {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    width: auto;
    align-items: left;
    margin-left: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social .social {
    justify-content: left;
  }
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .footer-social__title {
    text-align: center;
  }
}

.social__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.social__item:not(last-child) {
  margin-right: 10px;
}

.footer-mailing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
@media screen and (min-width: 1200px) {
  .footer-mailing {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing {
    align-items: unset;
    margin-left: 93px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-mailing__wrap {
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .footer-mailing__wrap {
    margin-top: 60px;
  }
}

.footer-mailing__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-mailing__input {
  display: block;
  border: 0;
  padding-left: 16px;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
}
@media screen and (max-width: 767px) {
  .footer-mailing__input {
    margin: 20px auto;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-mailing__input {
    margin: 20px auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing__input {
    margin-top: 20px;
    margin-bottom: 0;
    width: 358px;
  }
}

.footer-mailing__btn {
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-mailing__btn {
    margin-left: 12px;
    align-self: end;
  }
}

.footer-mailing__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.porfolio-filter {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .porfolio-filter {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .porfolio-filter {
    margin-bottom: 50px;
  }
}

.porfolio__filter-item {
  margin-right: 8px;
}
@media screen and (max-width: 387px) {
  .porfolio__filter-item:last-child {
    margin-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  .porfolio__filter-item:first-child {
    margin-bottom: 15px;
  }
}

.portfolio__btn {
  height: 38px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: outline, background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1215686275);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.0784313725);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1019607843);
}

.portfolio__img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3;
  left: 0;
  bottom: 0;
  /* Выезд текста */
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__text, .portfolio__link:focus .portfolio__text {
  display: block;
  transform: translateY(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__item-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__title-type {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio__item {
  margin-top: 30px;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1199px) {
  .portfolio__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio__link {
  display: block;
  box-sizing: border-box;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__img-wrap {
  position: relative;
}

.backdrop-wrap {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.backdrop__item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.backdrop__item--top {
  margin-top: 10px;
}

.checkbox {
  display: flex;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox {
    font-size: 14px;
    line-height: 1.17;
  }
}

.backdrop__input--height {
  height: 40px;
}

.backdrop__input,
.backdrop__label,
.backdrop__textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

.backdrop__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.backdrop__input {
  margin-top: 4px;
  padding-left: 40px;
  border-radius: 4px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__input:hover + .backdrop__icon, .backdrop__input:focus + .backdrop__icon, .backdrop__input:hover, .backdrop__input:focus {
  fill: #2196f3;
  outline-color: #2196f3;
  border-color: #2196f3;
}

.backdrop__textarea {
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__textarea:hover, .backdrop__textarea:focus {
  fill: #2196f3;
  outline-color: #2196f3;
  border-color: #2196f3;
}
.backdrop__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.backdrop__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.backdrop__textarea::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop__input-checkbox {
  margin-top: 0;
  border: 0;
}

.backdrop__checkbox-text {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.backdrop__icon-check {
  position: absolute;
  left: 1px;
  z-index: 2;
  background-color: white;
}
@media screen and (min-width: 1199px) {
  .backdrop__icon-check {
    left: 12px;
  }
}

.backdrop__icon-checked {
  z-index: 1;
}

.backdrop__input-checkbox:checked + .backdrop__checkbox-text > .backdrop__icon-check {
  opacity: 0;
}

.backdrop__contract-text {
  margin-left: 8px;
}

.backdrop__contract-link {
  color: #2196f3;
}

.backdrop__btn {
  display: block;
  margin: auto;
  margin-top: 30px;
}

.backdrop-wrap.is-hidden .modal {
  transform: scale(0) skewX(-90deg) rotateX(-90deg);
}

.modal {
  padding: 40px;
  margin: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 1199px) {
  .modal {
    position: relative;
    max-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
    position: absolute;
    transition-duration: 500ms;
    transform: scale(1) skewX(0) rotateX(0);
  }
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  fill: #000000;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover {
  fill: #2196f3;
}

.is-hidden {
  /* задает (не)прозрачность */
  opacity: 0;
  /* запрещает события */
  pointer-events: none;
  /* запрещает фокус */
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */