.section__title--hidden {
  @extend %visually-hidden;
}
.features {
  //   display: flex;
  @extend %list;
  width: 100%;
}

.features__item {
}

// .features__item:not(last-child) {
//   margin-right: $between-li-distance;
// }
.features__icon {
  margin-top: 25px;
  margin-bottom: 26px;
}

.features__icon-wrap {
  background: #f5f4fa;
  border-radius: 4px;
  //   display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.features__title {
  margin-bottom: 10px;
  //   width: 270px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-color;
}
