.footer {
  background-color: $secondary-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
    }
  }
}

.footer-contacts {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
  @media screen and (min-width: 1200px) {
    flex-grow: unset;
  }
}

.footer__logo {
  display: block;
  @extend %logo;
  @extend %link;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-contacts__address {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-contacts__list {
  @extend %list;
}

.logo__studio--white {
  color: white;
}

.footer-contacts__address {
  font-style: normal;
  margin-top: 20px;
}

.footer-contacts__item {
  margin-bottom: 8px;
  @media screen and (max-width: 767px) {
    margin-bottom: 9px;
  }
}
.footer-contacts__link {
  @extend %link;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-white-color;
  // display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-contacts__link--street {
  color: $main-white-color;
}

.footer-social {
  // @media screen and (max-width: 767px) {
  //   margin-bottom: 60px;
  // }
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 1200px) {
    width: auto;
    align-items: left;
    margin-left: 70px;
  }
  & .social {
    @media screen and (min-width: 1200px) {
      justify-content: left;
    }
  }
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-white-color;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.social__link--dark {
  @extend %link;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $main-white-color;
}

.social__item:not(last-child) {
  margin-right: 10px;
}

.footer-mailing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    align-items: unset;
    margin-left: 93px;
  }
}

.footer-mailing__wrap {
  @media screen and (max-width: 1199px) {
    text-align: center;
    width: 100%;
  }
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
}

.footer-mailing__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-white-color;
}

.footer-mailing__input {
  display: block;
  border: 0;

  padding-left: 16px;
  color: $main-white-color;
  background-color: $secondary-background-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  @media screen and (max-width: 767px) {
    margin: 20px auto;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin: 20px auto;
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 20px;
    margin-bottom: 0;
    width: 358px;
  }
}
.footer-mailing__btn {
  @extend %btn;
  align-items: center;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    align-self: end;
  }
}

.footer-mailing__icon {
  margin-left: 10px;
  fill: $main-white-color;
}
