.mobile-menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;

    background-color: #fff;
    transform: translateX(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &.is-open {
      transform: translate(0);
      z-index: 1;
      // transition-duration: 250ms;
      // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    padding: 0;
    width: 100%;
  }
}

.mobile-close-btn {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    fill: black;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      fill: $accent-color;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
