// :root {
//   --main-text-color: #757575;
//   --secondary-text-color: #212121;
//   --main-white-color: #ffffff;
//   --secondary-white-color: rgba(255, 255, 255, 0.6);
//   --logo-color: #000000;
//   --accent-color: #2196f3;
//   --secondary-background-color: #2f303a;
//   --bottom-background-color: #f5f4fa;
//   --between-containers-distance: 94px;
//   --between-li-distance: 30px;
// }
$main-text-color: #757575;
$secondary-text-color: #212121;
$main-white-color: #ffffff;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$logo-color: #000000;
$accent-color: #2196f3;
$secondary-background-color: #2f303a;
$bottom-background-color: #f5f4fa;
$between-containers-distance: 94px;
$between-li-distance: 30px;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
$main-font-family: "Roboto", sans-serif;
$secondary-font-family: "Relaway", sans-serif;
